# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Chroma DB
chroma_db/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# PyInstaller
*.spec

# Temp files
*.tmp
*.log