streamlit>=1.28.0
langchain>=0.1.0
langchain-community>=0.1.0
chromadb>=0.4.22
pypdf2>=3.0.0
python-docx>=1.1.0
tiktoken>=0.5.0
langchain-chroma>=0.1.0